<div class="contenedorPrincipal">
    <div class="contenedorSecundario">
        <div class="opciones">
            <button>Voto Blanco</button>
        </div>
        <div class="opciones">
            <button>Candidato 1</button>
        </div>
        <div class="opciones">
            <button>Candidato 2</button>
        </div>
        <div class="opciones">
            <button>Candidato 3</button>
        </div>
        <div class="opciones">
            <button>Candidato 4</button>
        </div>
        <div class="opciones">
            <button>Candidato 5</button>
        </div>
        <div class="opciones">
            <button>Candidato 6</button>
        </div>
        <div class="opciones">
            <button>Candidato 7</button>
        </div>
        <div class="opciones">
            <button>Candidato 8</button>
        </div>
    </div>
</div>