<div class="inicio">
    <div class="inicio_1">
        <div class="inicio_componente">
            <img src="../../../../assets/login3.png" alt="IMAGEN LOGIN">
            <button class="inicio_componente_boton" (click)="irLogin()">VOTACION</button>
        </div>
        <div class="inicio_componente">
            <img src="../../../../assets/funcionario.jpg" alt="IMAGEN FUNCIONARIO" class="imagen2">
            <button class="inicio_componente_boton" (click)="irfuncionario()">FUNCIONARIO</button>
        </div>
        <div class="inicio_componente">
            <img src="../../../../assets/informes1.png" alt="IMAGEN INFORMES" class="imagen2">
            <button class="inicio_componente_boton" (click)="irInformes()">INFORMES</button>
        </div>
    </div>
</div>