<div class="panel">
    <div class="panel_component_1">
        <div class="body_panel">
            <a class="ir_a_usuarios" routerLink="informe1">Informe 1</a>
        </div>
        <div class="body_panel">
            <a class="ir_a_usuarios" routerLink="informe2">Informe 2</a>
        </div>
        <div class="body_panel">
            <a class="ir_a_usuarios" routerLink="informe3">Informe 3</a>
        </div>
        <div class="body_panel">
            <a class="ir_a_usuarios" routerLink="informe4">Informe 4</a>
        </div>
    </div>
    <div class="panel_component_2">
        <router-outlet></router-outlet>
    </div>
</div>